body {
  font: 14px "Poppins", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cbg, .ch {
  background-color: rgb(28, 116, 172);
  border-color: #ffffff;
  border-style: solid;
}

.img-login{
  background: url('../images/assets/img-card.jpg');
  background-position: center;
  background-size: cover;
}
.img-register{
  background: url('../images/assets/img-card.jpg');
  background-position: center;
  background-size: cover;
}
.bg-login{
  background: url('../images/assets/bg-login.jpg');
  background-position: center;
  background-size: cover;
}
.bg-register{
  background: url('../images/assets/bg-register.png');
  background-position: center;
  background-size: cover;
}

#login .card {
  background-color: rgba(255, 255, 255, );
}

#login .form-login {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(28, 116, 172);
  border-radius: 0;
  background: none;
  padding: 0; 
  margin: 0;
  outline: none;
  box-shadow:none;   
  resize: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#register .form-register {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(28, 116, 172);
  border-radius: 0;
  background: none;
  padding: 0; 
  margin: 0;
  outline: none;
  box-shadow:none;   
  resize: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}